/**** CSS Resets ****/
body, ul, li, nav, h1, h2, h3, h4, h5, h6, a{
    margin: 0;
    padding: 0;
    color: #222;
    font-family: 'OpenSans';
}

@font-face {
	font-family: OpenSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

a{
    text-decoration: none;
    font-family: 'OpenSans';
}

ul{
    list-style: none;
}

body{
    background-color: #fff;
    color: #000;
    font-size: 2.2vmin;
    overflow: hidden;
}

/**** RockSema scrollbar ****/
::-webkit-scrollbar {
    width: 8px;
}/*::-moz-scrollbar {
    width: 8px;
}::-ms-scrollbar {
    width: 8px;
}::-o-scrollbar {
    width: 8px;
}*/
 
::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #ccc;
}
/*::-moz-scrollbar-track {
    border-radius: 8px;
    background: #ccc;
}::-ms-scrollbar-track {
    border-radius: 8px;
    background: #ccc;
}::-o-scrollbar-track {
    border-radius: 8px;
    background: #ccc;
}*/
 
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #222;
}
/*::-moz-scrollbar-thumb {
    border-radius: 8px;
    background: #222;
}::-ms-scrollbar-thumb {
    border-radius: 8px;
    background: #222;
}::-o-scrollbar-thumb {
    border-radius: 8px;
    background: #222;
}*/

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(44,44,44,.8); 
    
}
/*::-moz-scrollbar-thumb:window-inactive {
	background: rgba(44,44,44,.8); 
    
}::-ms-scrollbar-thumb:window-inactive {
	background: rgba(44,44,44,.8); 
    
}::-o-scrollbar-thumb:window-inactive {
	background: rgba(44,44,44,.8); 
}*/

/**** Float Clear ****/
.clr{
    display: block;
    clear: both;
}

/**** Sentences Colors Code ****/ 
.purpleSentence{
    color: #b00f98;
}

.graySentence{
    color: #949494;
}

.blackSentence{
    color: #535353;
}

.blueSentence{
    color: #446fbd;
}

.lightBlueSentence{
    color: #86dcf2;
}

.greenSentence{
    color: #608b4e;
}

.redSentence{
    color: #e88501;
}

/**** Input Styles ****/
.emaillInput{
    height: 3vh;
    width: 15vw;
    margin-top: 5vh;
    padding: 5px;
    font-size: 2vmin;
    font-family: 'OpenSans';
}

.messageTextarea{
    height: 30vh;
    width: 20vw;
    margin-top: 2vw;
    font-size: 2vmin;
    padding: 5px;
    font-family: 'OpenSans';
}

/**** Main Styles****/
#target{
    position: absolute;
    top: 0;
    left: 0;
}

.leftSection{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #222;
    color: #fff;
    font-family: 'OpenSans';
}

.rightSection{
    width:50%;
    height:100vh;
    background: #fafafa;
    position:absolute;
    right:0;
    top:0;
    overflow-x:hidden;
    font-family: 'OpenSans';
}

/**** Content Style ****/
.menuItem{
    display: none;
}

.default, .about, .works, .contact, .how{
    width: 50%;
    min-height: 40%;
    background: #fff;
    margin: 2vh auto;
    z-index: 1;
    background: #fafafa;
    font-family: 'OpenSans';
    font: justify;
}

.default, .contact{
    margin-top: 10vh;
}

.works{
    width: 100%;
    padding: 0;
    margin: 0;
}

/**** Shape Style ****/
.shapeContainer{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

#aboutShape, #contactShape, #howShape, #worksShape, #defaultShape{
    width: 90vw;
    height: 50vh;
    position: absolute;
    right: -15vw;
    top: 0;
    background: #ecf0f1;
    z-index: 0;
}

#aboutShape{
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
    right: 50vw;
    top: -80vh;
}

#contactShape{
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    left: 60vw;
    top: 95vh;
}

#worksShape{
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    right: -15vw;
    top: 0;
}

#defaultShape{
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    transform: rotate(140deg);
    left: -95vw;
    top: 100vh;
}

#howShape{
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    transform: rotate(140deg);
    left: 90vw;
    top: -95vh;
}

/**** Text Style ****/
h1{
    font-size: 3vmin;
}
strong.center{
    position: absolute;
    left: 25%;
}

.splashText {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    z-index: 1;
    line-height: 1.5;
    letter-spacing: .2rem;
}

.splashTextDifferent {
    opacity: .7;
    font-size: 1rem;
}

strong{
    font-weight: 800;
}

/**** Social Networks icons ****/
.socialNetwork{
    display: block;
    position: relative;
    left: 20vw;
    top: 15vh;
    width: 50%;
}

.socialNetwork img{
    width: 15%;
    margin: 0 auto;
}

/**** Works List Item Style ****/
.listItem{
    width: 100%;
    height: 180px;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    font-family: 'OpenSans';
    position: relative;
    cursor: pointer;
    font-family: 'OpenSans';
}

.listItem:hover .moreInfo{
    opacity: 0.1;
}

.listItem .moreInfo{
    position: absolute;
    background: #1a1d23;
    left: 0;
    top: 0;
    width: 100%;
    height: 180px;
    opacity: 0.7;
    text-align: center;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.listItem .leftItem, .listItem .rightItem{
    float: left;
    height: 180px;
}

.listItem .itemImage{
    width: 25%;
    background: #fdfdfd;
}

.listItem .itemInfo{
    width: 75%;
    background: #fdfdfd;
}

.listItem .rightItem .itemInfo{
    float: right;
}

.listItem .itemImage img{
    width: 80%;
    height: auto;
}

.listItem .leftItem img{
    margin: 25px 0 0 15px;
}

.listItem .rightItem img{
    float: right;
    margin: 25px 15px 0 0;
}

.listItem .itemInfo div{
    margin: 20px;
    font-size: 2vmin;
}

/**** Menu Items Style ****/
.item h3.menuTitle{
    font-size: 3vmin;
    font-weight: 100;
    color: #222;
}

.item h1.menuTitle{
    font-size: 2.2vmin;
    font-weight: 800;
    margin-top: .5vh;
}

.menu .item{
    float: left;
    width: 15vmin;
    text-align: center;
    height: 8vh;
    padding-top: 2vw;
    background: #ededed;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    margin: 0 -1px 0 -1px;
    cursor: pointer;
    font-family: 'OpenSans';
}

.menu .item:hover{
    background: #e0e0e0;
}

.menu{
    display: none;
    position: absolute;
    left: 25%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #222;
    z-index: 1;
}

/**** Resonsive Menu Style ****/
.responsiveMenu{
    width: 300px;
    height: 300px; 
    background: #fff;
    border-radius: 50%;
    display: none;
    position: relative;
    color: #fff;
}

.responsiveMenu ul{
    position: absolute;
    left: 15vw;
    top: 7vh;
    color: #000;
}

.responsiveMenu ul li{
    border-bottom: .005vh solid #aeaeae;
    margin-top: 1.2vh;
    padding: 1vh 0vw; 
    cursor: pointer;
}

.responsiveMenu ul li:last-child{
    border-bottom: none;
}

.responsiveMenu ul li h3{
    text-align: center;
}

.exitItem{
    position: fixed;
    left: -5vw;
    top: -4vh;
    border-radius: 50%;
    padding: 5px 10px;
    background: #444;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}

/**** Sticker Style ****/
.face{
    display: none;
    position: fixed;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -90%);
    -moz-transform: translate(-50%, -90%);
    -ms-transform: translate(-50%, -90%);
    -o-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
    -webkit-animation: loader1 1s ease infinite alternate;
    -moz-animation: loader1 1s ease infinite alternate;
    -ms-animation:loader1 1s ease infinite alternate;
    -o-animation: loader1 1s ease infinite alternate;
    animation: loader1 1s ease infinite alternate;
    z-index: 1;
}

.face .head{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #dadada;
    box-shadow: 0px 3px 3px #666;
}

.face .leftEye, .face .rightEye{
    width: 20px;
    height: 10px;
    border-radius: 0 0 10px 10px;
    margin: 30px 10px 0 10px;
    background-color: #222;
}

.face .rightEye{
    float: left;
    -webkit-animation: faceRightEye 1s ease-in-out infinite alternate;
    -moz-animation: faceRightEye 1s ease-in-out infinite alternate;
    -ms-animation: faceRightEye 1s ease-in-out infinite alternate;
    -o-animation: faceRightEye 1s ease-in-out infinite alternate;
    animation: faceRightEye 1s ease-in-out infinite alternate;
}

.face .leftEye{
    float: right;
    -webkit-animation: faceLeftEye 1s ease-in-out infinite alternate;
    -moz-animation: faceLeftEye 1s ease-in-out infinite alternate;
    -ms-animation: faceLeftEye 1s ease-in-out infinite alternate;
    -o-animation: faceLeftEye 1s ease-in-out infinite alternate;
    animation: faceLeftEye 1s ease-in-out infinite alternate;
}

.face .mouth{
    width: 40px;
    height: 15px;
    border-bottom: 3px solid #222;
    background-color: #dadada;
    margin: 8px 8px 0 8px;
    position: relative;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    -webkit-animation: faceMouth 1s ease-in-out infinite alternate;
    -moz-animation: faceMouth 1s ease-in-out infinite alternate;
    -ms-animation: faceMouth 1s ease-in-out infinite alternate;
    -o-animation: faceMouth 1s ease-in-out infinite alternate;
    animation: faceMouth 1s ease-in-out infinite alternate;
}

/**** Sticker Animation ****/
keyframes faceMouth{
    0%{
        transform: rotate(0);
        top: 60%;
        left: 20%;
        border-radius: 0 0 10% 10%;
    }
    
    100%{
        transform: rotate(30deg);
        top: 60%;
        left: 10%;
        border-radius: 0 0 50% 50%;
    }
}@-webkit-keyframes faceMouth{
    0%{
        transform: rotate(0);
        top: 60%;
        left: 20%;
        border-radius: 0 0 10% 10%;
    }
    
    100%{
        transform: rotate(30deg);
        top: 60%;
        left: 10%;
        border-radius: 0 0 50% 50%;
    }
}@-moz-keyframes faceMouth{
    0%{
        transform: rotate(0);
        top: 60%;
        left: 20%;
        border-radius: 0 0 10% 10%;
    }
    
    100%{
        transform: rotate(30deg);
        top: 60%;
        left: 10%;
        border-radius: 0 0 50% 50%;
    }
}@-o-keyframes faceMouth{
    0%{
        transform: rotate(0);
        top: 60%;
        left: 20%;
        border-radius: 0 0 10% 10%;
    }
    
    100%{
        transform: rotate(30deg);
        top: 60%;
        left: 10%;
        border-radius: 0 0 50% 50%;
    }
}

@keyframes faceRightEye{
    100%{
        margin-top: 38px;
        height: 2px;
    }
}@-webkit-keyframes faceRightEye{
    100%{
        margin-top: 38px;
        height: 2px;
    }
}@-moz-keyframes faceRightEye{
    100%{
        margin-top: 38px;
        height: 2px;
    }
}@-o-keyframes faceRightEye{
    100%{
        margin-top: 38px;
        height: 2px;
    }
}

@keyframes faceLeftEye{
    100%{
        transform: rotate(-10deg);
    }
}@-webkit-keyframes faceLeftEye{
    100%{
        transform: rotate(-10deg);
    }
}@-moz-keyframes faceLeftEye{
    100%{
        transform: rotate(-10deg);
    }
}@-o-keyframes faceLeftEye{
    100%{
        transform: rotate(-10deg);
    }
}

/**** Responsive Style ****/
@media screen and (max-width: 767px) {
    .leftSection{
        width: 100%;
    }
    .rightSection{
        width: 100%;
        display: none;
    }  
}

@media screen and (max-width: 425px){
    code,dl,dt,span{
        font-size: 3.5vmin;
    }
    .listItem .leftItem, .listItem .rightItem{
        font-size: 2vmin;
    }
    p
    {
        font:3.5vmin;
    }
}

@media screen and (max-width: 325px){
    code,dl,dt,span, p{
        font-size: 4.5vmin;
    }
}

@media screen and (min-width: 768px) {
    
    .menu {
        display: inline-block;
    }
    .leftSection{
        width: 50%;
    }
    .rightSection{
        width: 50%;
        display: block;
    }
    .face{
        display: block;
    }
    .responsiveMenu{
        left: 80vw;
    }
}

@media screen and (max-width: 767px) {
    .responsiveMenu {
        display: inline-block;
    }
    
    .listItem .leftItem, .listItem .rightItem{
        height: 150px;
        font-size: 3vmin;
    }
    
    .listItem{
        height: 150px;
    }
    
    .moreInfo{
        display: none;
        height: 150px;
    }
    
    .itemImage img{
        width: 80%;
        height: auto;
    }
}

@media screen and (max-width: 425px){
    .responsiveMenu{
        left: 55vw;
        top: 51vh;
        font-size: 3.5vmin;
    }
    
    .responsiveMenu ul{
        left: 12vw;
        top: 9vh;
    }
    
    .itemInfo span, .itemInfo h1{
        font-size: 3vmin;
    }
    
   p{
        font:4vmin;
    }
}

@media screen and (min-width: 426px){
    .responsiveMenu{
        left: 70vw;
        top: 52vh;
        font-size: 2.6vmin;
    }
    .responsiveMenu ul{
        left: 8vw;
        top: 9vh;
    }
    
    p{
        font:3.5vmin;
     }
}

@media screen and (min-width: 600px){
    .responsiveMenu{
        left: 76vw;
        top: 51vh;
        font-size: 2.3vmin;
    }
    .responsiveMenu ul{
        left: 7vw;
        top: 9vh;
    }
    .listItem .itemImage img{
        width: 60%;
        height: auto;
    }
}


