﻿/*Healthy-diet style*/
.worksImg img{
    width:35vw;
}
.center{
    text-align:justify;
}

.workDetailItem{
    display: none;  
}

.workDetail{
    width: 90%;
    min-height: 40%;
    background: #fff;
    z-index: 1;
    background: #fafafa;
    font-family: 'OpenSans';
    margin: 4vw;
    overflow-x:hidden;
    overflow-y:visible;
}

.downloadApplication img{
    width:7vw;
    margin:2vh 3vw 0vh 3vw;
}